.palette {
  color: #3643ba;
  color: #7affa6;
  color: #0b1788;
  color: #10a86b;
  color: #ff9a3d;
  color: #c9e136;
  color: #ff62d3;
  color: #b66cff;
  color: #dfe0e1;
  color: #434343;
}

.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  font-family: "Roboto Regular";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 1%;
  gap: 5px;
  background-color: whitesmoke;
}

.titlePage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  color: #312f2f;
  font-family: "Roboto Bold";
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex: 1;
  padding: 1%;
  gap: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

.infoText {
  font-size: 1rem;
  color: #312f2f;
  font-family: "Roboto SemiBold";
}

.btn {
  background-color: transparent;
  border: none;
}

.projectSection {
  width: 100%;
  flex: 1;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.icon {
  color: white;
  padding: 0.2rem;
  font-size: 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
  background-color: #10a86b;
  border-radius: 1.5rem;
  transition: 0.3s ease;
}

.icon:hover {
  background-color: #0c905b;
  cursor: pointer;
  scale: 1.4;
}

.changeRoleIcon {
  color: #10a86b;
  padding: 0.2rem;
  font-size: 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
  transition: 0.3s ease;
}

.changeRoleIcon:hover {
  cursor: pointer;
  scale: 1.3;
}

@media (max-width: 768px) {
  .title {
    font-size: 1rem;
  }

  .infoText {
    font-size: 0.75rem;
  }

  .icon {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}
