.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 8%;
  background-color: #3643ba;
  width: 100%;
}

.content {
  color: white;
  font-size: 1rem;
  font-family: "Roboto Regular";
  font-style: italic;
}

@media (max-width: 768px) {
  .content {
    font-size: 0.8rem;
  }
  .footer {
    height: 5%;
  }
}
