.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 8%;
  background-color: white;
  width: 100%;
  border-top: 1px solid rgb(188, 187, 187);
}

.content {
  color: black;
  font-size: 0.8rem;
  font-family: "Roboto Regular";
  font-style: italic;
}

@media (max-width: 768px) {
  .content {
    font-size: 0.7rem;
  }
  .footer {
    height: 5%;
  }
}
