.content {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1%;
  height: 8%;
  font-family: "Roboto Regular";
  background-color: #3643ba;
  width: 100%;
}

.logo:hover {
  cursor: pointer;
  scale: 1.1;
}

.menu {
  /* border: 1px solid greenyellow; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.nav {
  /* border: 1px solid rgb(0, 179, 255); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.profile {
  background-color: #dfe0e1;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 1rem;
  color: black;
  font-family: "Roboto Bold";
}

.icon {
  font-size: 1rem;
  color: black;
  width: 1rem;
  height: 1rem;
}

.icon:hover {
  color: #3643ba;
  cursor: pointer;
  scale: 1.1;
}

@media (max-width: 768px) {
  .content {
    height: 5%;
  }
}
