.content {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1%;
  height: 8%;
  font-family: "Roboto Regular";
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgb(188, 187, 187);
}

.logo:hover {
  cursor: pointer;
  scale: 1.2;
  transition: 0.3s ease;
}

.btn {
  background-color: transparent;
  border: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.nav {
  /* border: 1px solid rgb(0, 179, 255); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pageTitle {
  color: black;
  font-family: "Roboto SemiBold";
  font-size: 1rem;
  cursor: pointer;
  padding-bottom: 0.3rem;
}

.pageTitle:hover {
  color: #3643ba;
  transition: 0.3s ease;
}

.active {
  border-bottom: 3px solid #3643ba;
}

.profile {
  background-color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 1rem;
  color: #3643ba;
  font-family: "Roboto Bold";
}

.icon {
  font-size: 1.5rem;
  color: #3643ba;
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.3s ease;
}

.icon:hover {
  color: #242d7e;
  cursor: pointer;
  scale: 1.2;
}

@media (max-width: 768px) {
  .content {
    height: 5%;
  }

  .username,
  .pageTitle {
    font-size: 0.8rem;
  }
}
