.content {
  width: 100%;
  padding: 0.1rem;
  display: grid;
  grid-template-columns: 1fr 2fr repeat(8, minmax(0, 1fr));
  font-family: "Roboto Regular";
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(231, 230, 230);
}

.title {
  font-family: "Roboto SemiBold";
  color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem;
  border-radius: 0.1rem;
}

.username {
  font-family: "Roboto Italic";
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem;
  border-radius: 0.1rem;
}

.sport {
  color: black;
  font-family: "Roboto Bold";
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem;
}

.date {
  font-family: "Roboto Italic";
  padding: 0.1rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.indusDate {
  font-family: "Roboto Italic";
  padding: 0.1rem;
  color: #ff9a3d;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem;
}

.btn {
  background-color: transparent;
  border: none;
}

.status {
  font-family: "Roboto Regular";
  color: black;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid #434343;
  border-radius: 5px;
}

.icon {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  color: #3643ba;
  transition: 0.3s ease;
}

.icon:hover {
  color: #262f85;
  cursor: pointer;
  scale: 1.2;
}

@media (max-width: 768px) {
  .content {
    font-size: 0.7rem;
  }
}
